<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <!--href="{{ url_for('static',filename='css/style.css') }}" -->
  </head>
  <body>
    <div class="jumbotron" id="header">
      <h1 class="display-4" style="color: blue; font-weight: bold">
        대구가톨릭대학교
      </h1>
      <p class="lead" style="color: blue">
        희망을 전하는 대구가톨릭대학교의 알찬소식!
      </p>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">HOME</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Intro <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/board/list">게시판</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" action="/search">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="검색어를 입력하세요"
            aria-label="Search"
            name="searchstring"
            required
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <div id="dcu">
      <h3>게시판 글쓰기</h3>
      <form method="post" action="/board/editok">
        <input type="hidden" name="id" value="{{ rows[0] }}" />
        <div class="form-group">
          <label for="exampleFormControlInput1">제목</label>
          <input
            name="title"
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="제목을 입력하세요"
            required
            value="{{rows[1]}}"
          />
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput2">이름</label>
          <input
            name="name"
            type="text"
            class="form-control"
            id="exampleFormControlInput2"
            placeholder="이름을 입력하세요"
            required
            value="{{rows[2]}}"
          />
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput3">이메일</label>
          <input
            name="email"
            type="email"
            class="form-control"
            id="exampleFormControlInput3"
            placeholder="이메일을 입력하세요"
            value="{{rows[4]}}"
          />
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1" style="margin-top: 10px"
            >내용</label
          >
          <textarea
            name="memo"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="10"
            required
          >
{{rows[3]}}</textarea
          >
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput4">비밀번호</label>
          <input
            style="margin-bottom: 20px"
            name="pass"
            type="password"
            class="form-control"
            id="exampleFormControlInput4"
            placeholder="비밀번호를 입력하세요"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">글 등록</button>
      </form>
    </div>

    <div id="footer">
      <div class="jumbotron jumbotron-fluid" style="height: 70px">
        <div style="margin-left: 50px">
          <h5 class="display-4" style="font-size: 20px">대구가톨릭대학교</h5>
          <p class="lead" style="font-size: 20px">
            Copyright by Daegu Catholic University, all rights reserved.
          </p>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
