<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 푸터 영역 -->
    <div
      class="jumbotron jumbotron-fluid"
      style="height: 50px; margin-bottom: 10px; padding: 32px 0"
    >
      <p
        class="lead"
        style="font-size: 15px; text-align: left; margin-left: 20px"
      >
        copyright all rights reservied
      </p>
    </div>
    <!-- 푸터 영역끝 -->
  </body>
</html>
